

@font-face {
	font-family: 'HelveticaiDesignVn-BdCn';
	src: url('HelveticaiDesignVn-BdCn.eot');
	src: local('HelveticaiDesignVn-BdCn'), local('HelveticaiDesignVn-BdCn'), url('HelveticaiDesignVn-BdCn.ttf') format('truetype');
}


@font-face {
	font-family: 'HelveticaiDesignVn-UltLt';
	src: url('HelveticaiDesignVn-UltLt.eot');
	src: local('HelveticaiDesignVn-UltLt'), local('HelveticaiDesignVn-UltLt'), url('HelveticaiDesignVn-UltLt.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaiDesignVn-Cn';
	src: url('HelveticaiDesignVn-Cn.eot');
	src: local('HelveticaiDesignVn-Cn'), local('HelveticaiDesignVn-Cn'), url('HelveticaiDesignVn-Cn.ttf') format('truetype');
}

@font-face {
	font-family: 'HelveticaiDesignVn-Lt';
	src: url('HelveticaiDesignVn-Lt.eot');
	src: local('HelveticaiDesignVn-Lt'), local('HelveticaiDesignVn-Lt'), url('HelveticaiDesignVn-Lt.ttf') format('truetype');
}

.newletter, h3{ font-family:'HelveticaiDesignVn-UltLt', Arial, Helvetica, sans-serif;}

h4, #content .detail li.change_font, .btn, .btn_buy, .btn_buy_big, .detail_djs h5, h5{ font-family:'HelveticaiDesignVn-BdCn', Arial, Helvetica, sans-serif;}